<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/swiper.min.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <script type="text/javascript" src="../js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <title>江财酒店-你最温暖的港湾</title>

    <style>
        html, body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
</head>

<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="container" id="headbody">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#">资料</a>
                        </li>
                        <li>
                            <a href="#">信息</a>
                        </li>
                        <li class="pull-right">
                            <a href="/login">登录</a>
                        </li>
                        <li class="pull-right">
                            <a href="#">预订</a>
                        </li>
                    </ul>
                    <div class="brandWord">
                        <div class="leftPart">
                            <div class="leftPart-word">
                                格林东方酒店：作为集团旗下精品中高端酒店，设计独具东方王气之美，风格独特。地处繁华商圈或成熟高新园区，地理位置优越，交通便利；酒店设置多种房型、配备商务中心、健康餐饮等设施，倡导绿色、健康、高品质生活，大多数房间价格在300元-600元。目前太原、常州、衢州、西双版纳、淮南、马鞍山、日照、郑州等地均有开业或筹建中的格林东方酒店。
                            </div>
                        </div>
                        <div class="rightPart">
                            <div class="carousel slide" id="carousel-298962">
                                <ol class="carousel-indicators">
                                    <li data-slide-to="0" data-target="#carousel-298962">
                                    </li>
                                    <li data-slide-to="1" data-target="#carousel-298962">
                                    </li>
                                    <li data-slide-to="2" data-target="#carousel-298962" class="active">
                                    </li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img alt="" src="../img/hotel1.jpg" style="width: 600px; height: 400px"/>
                                        <div class="carousel-caption">
                                            <h4>
                                                单人间
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img alt="" src="../img/hotel_2.jpg" style="width: 600px;height: 400px;"/>
                                        <div class="carousel-caption">
                                            <h4>
                                                豪华大床房
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="item active">
                                        <img alt="" src="../img/hotel_3.jpg" style="width: 600px;height: 400px;"/>
                                        <div class="carousel-caption">
                                            <h4>
                                                双人间
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <a data-slide="prev" href="#carousel-298962" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#carousel-298962" class="right carousel-control">›</a>
                            </div>
                        </div>
                    </div>
                    <div class="information"></div>

                </div>
                <div id="empty_1" style="height: 50px;width: 1000px;">

                </div>

            </div>
        </div>
        <div class="swiper-slide">
            <div class="container" id="mainbody">
                <div><h3>我们的优势</h3></div>
                <div class="row" id="act">
                    <div class="activity ani" swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="2s" swiper-animate-delay="0.3s">
                        <div class="tile">
                            <img class="tile-image big-illustration" alt="" src="../img/activity_4.jpg"/>
                            <h3>随时待命</h3>
                            <p>商旅比以往任何时候都更加需要协作和灵活性。入住本酒店及度假村能够保持高效和连接：这里到处都能轻松找到电源，您入住的大部分我们公司旗下酒店及度假村都包含免费无线网络服务</p>
                            <a class="btn btn-success" href="#">我要体验</a>
                        </div>
                    </div>
                    <div class="activity ani" swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="1.5s">
                        <div class="tile">
                            <img class="tile-image big-illustration" alt="" src="../img/activity_5.jpg"/>
                            <h3>美味即享</h3>
                            <p>饥肠辘辘的感觉总是不期而至。因此，我们将为您提供新鲜制作、种类丰富的菜品，让您保持精力充沛。美食随时奉上。 </p>
                            <br/>
                            <br/>
                            <br/>
                            <a class="btn btn-success" href="#">我要体验</a>
                        </div>
                    </div>
                    <div class="activity ani" swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="1s">
                        <div class="tile">
                            <img class="tile-image big-illustration" alt="" src="../img/activity_3.jpg"/>
                            <h3>睡眠优势</h3>
                            <p>利用我们的睡姿枕、香薰精油、优质寝具和叫醒电话服务，获得高质量睡眠，为您第二天的工作做好准备。放松心灵和身体，拔掉笔记本电脑电源，拍拍枕头，进入梦乡。</p>
                            <br/>
                            <a class="btn btn-success" href="#">我要体验</a>
                        </div>
                    </div>
                    <div class="activity ani" swiper-animate-effect="fadeInLeft"
                         swiper-animate-duration="0.6s">
                        <div class="tile">
                            <img class="tile-image big-illustration" alt="" src="../img/activity_6.jpg"/>
                            <h3>运动健身</h3>
                            <p>我们的健身项目将配合您的日程安排，使您保持精力充沛、感觉敏锐。健身设施能够使您保证自己的健身计划，我们能够帮助您抓紧一天的光阴。工作要努力，锻炼要轻松。</p>
                            <br/>
                            <a class="btn btn-success" href="#">我要体验</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container">
                <div class="row" id="footerbody">
                    <div class="col-sm-4 ani" id="hotelInfo" swiper-animate-effect="slideInDown"
                         swiper-animate-duration="1s">
                        <h3>酒店信息</h3>
                        <ul style="text-align: left;">
                            <li>联系电话：15279108332</li>
                            <li>邮箱：duckybuddy@126.com</li>
                            <li>邮编：211100</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 ani" id="parterner" swiper-animate-effect="slideInDown"
                         swiper-animate-duration="1s">
                        <h3>合作伙伴</h3>
                        <ul>
                            <li>
                                <img class="parterner_img" id="parterner_1" alt="parterner_1"
                                     src="../img/parterner_1.jpg"/>
                            </li>
                            <li>
                                <img class="parterner_img" id="parterner_2" alt="parterner_2"
                                     src="../img/parterner_2.jpg"/>
                            </li>
                            <li>
                                <img class="parterner_img" id="parterner_3" alt="parterner_3"
                                     src="../img/parterner_3.jpg"/>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 ani" id="map" swiper-animate-effect="slideInDown"
                         swiper-animate-duration="1s">
                        <iframe style="float: left;" height=330px width=350px
                                src="http://m.amap.com/navi/?dest=115.816623,28.727408&destName=江财酒店&hideRouteIcon=1&key=cb95629eb44f385aad3a787a8f410736"></iframe>
                    </div>
                </div>
                <p style="text-align: center;margin-top: 20px;">@CopyRight:0144052软件143周智文</p>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<!-- Swiper JS -->
<script src="../js/swiper.min.js"></script>
<script src="../js/swiper.animate1.0.3.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        slidesPerView: 1,
        spaceBetween: 30,
        mousewheel: true,
        speed: 800,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        on: {
            init: function () {
                swiperAnimateCache(this);
                swiperAnimate(this);
            },
            slideChangeTransitionEnd: function () {
                swiperAnimate(this);
            }
        }
    });
    $('.carousel').carousel({
        interval: 2500
    });
    $(Document).ready(function () {
        $('.brandWord').show();
        $('.information').show();
    })
</script>
</body>
</html>
