<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zzw.api.user.Password.UserPasswordMapper">
    <resultMap id="UserPasswordMap" type="indi.zzw.api.user.Password.UserPassword">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="card_id" property="cardId" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="password_status" property="passwordStatus" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="latest_update_time" property="latestUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="findPasswordById" parameterType="java.lang.String" resultType="java.lang.String">
        select password as password
        from hms_user_password
        where password_status = 'A'
        and status = 'VALID'
        and id = #{id,jdbcType = VARCHAR}
    </select>
</mapper>