<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zzw.api.user.UserMapper">
    <resultMap id="UserMap" type="indi.zzw.api.user.User">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_password_id" property="userPasswordId" jdbcType="VARCHAR"/>
        <result column="card_id" property="cardId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="role" property="role" jdbcType="INTEGER" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="latest_update_time" property="latestUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findUserByCardId" parameterType="java.lang.String" resultMap="UserMap">
        select id,card_id as cardId,user_password_id as userPasswordId,name,role,telephone,email,remark,status,create_user_id as createUserId,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as createTime,update_user_id as updateUserId,latest_update_time as latestUpdateTime
        from hms_user
        where status = 'VALID'
        and card_id = #{cardId,jdbcType = VARCHAR}
    </select>
</mapper>